<a href="https://colab.research.google.com/github/Ragavendhra-Ramanan/Python_Basics/blob/main/Python04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

01 . What exactly is []?

**Solution** :Empty List

02 . In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the
third value? (Assume [2, 4, 6, 8, 10] are in spam.)

**Solution** :

In [13]:
spam=list(input())
spam[2]="hello"
spam

246810

['2', '4', 'hello', '8', '1', '0']

In [14]:
spam=['a','b','c','d']

03 . What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

In [15]:
spam[int(int('3'*2)/11)]

'd'

04 . What is the value of spam[-1]?

In [16]:
spam[-1]

'd'

05 . What is the value of spam[:2]?

In [18]:
spam[:2]

['a', 'b']

In [20]:
bacon=[3.14, 'cat', 11, 'cat' ,True]

* 6 . What is the value of bacon.index(&#39;cat&#39;)?

* 7 . How does bacon.append(99) change the look of the list value in bacon?
* 8 . How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?

In [21]:
bacon.index('cat')#returns first index

1

In [22]:
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [23]:
bacon.remove('cat')#removes first instance
bacon

[3.14, 11, 'cat', True, 99]

09 . What are the list concatenation and list replication operators?

In [24]:
#concat 
a=[1,2]+[3,4,5]
a

[1, 2, 3, 4, 5]

In [25]:
#replication
a=[1,2]*3
a

[1, 2, 1, 2, 1, 2]

10. What is difference between the list methods append() and insert()?

In [26]:
#append method inserts at end of list
a=[1,2,3,4]
print(a)
a.append(100)
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, 100]

In [27]:
#insert method inserts at specified index and moves rest elements back
a=[1,2,3,4,5]
a.insert(3,100)
a

[1, 2, 3, 100, 4, 5]

11.What are the two methods for removing items from a list?

In [28]:
#remove 
a=[1,2,3,4,5]
a.remove(4)
a

[1, 2, 3, 5]

In [30]:
#del 
a=[1,2,3,4,5]
del a[3]
a

[1, 2, 3, 5]

12.Describe how list values and string values are identical.

In [33]:
a=['1','2','3']
b='123'
a==list(b)

#lists are comma separated values of string and both follow sequences given that list has only string datatypes

True

13 .What's the difference between tuples and lists?

**Solution** 
           - List are mutable
           - Tuples are immutable

14. How do you type a tuple value that only contains the integer 42?

In [35]:
a=(42,)
type(a)
print(a)

(42,)

15 . How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?

In [36]:
#list values tuple form

a=[["hi"],["morning"]]
b=tuple(a)
b

(['hi'], ['morning'])

In [40]:
#tuple value list form

a=(("hey",),("fine",))
b=list(a)
b

[('hey',), ('fine',)]

16 .Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they
contain?

In [42]:
a=[1,2,3,5]
print(type(a))
print(id(a))

<class 'list'>
140215554974496

* Here variable 'a' is not a list it only contains the reference to the list created

17. How do you distinguish between copy.copy() and copy.deepcopy()?

In [75]:
#copy.copy() #shallow copy
import copy
a=[1,2,[3,4],4,5]
b=copy.copy(a)

In [76]:
b[2][0]=100
print(a)
print(b)

[1, 2, [100, 4], 4, 5]
[1, 2, [100, 4], 4, 5]

* Here  the values are not copied reference is made to point original lists so changing values in copied list will  affect original lists

In [78]:
#copy.deepcopy() #deep copy
a=[1,2,[3,4],4,5]
b=copy.deepcopy(a)

In [79]:
b[2][0]=100
print(b)

[1, 2, [100, 4], 4, 5]

In [80]:
a

[1, 2, [3, 4], 4, 5]

* Here  the values are only copied so changing values in copied list will  not affect original lists