<a href="https://colab.research.google.com/github/Ragavendhra-Ramanan/Python_Basics/blob/main/Python16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

01 .1. Create a list called years_list, starting with the year of your birth, and each year thereafter until
the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list =
[1980, 1981, 1982, 1983, 1984, 1985].

In [1]:
year_birth=int(input("Enter year"))
years_list=[i for i in range(year_birth,year_birth+6)]

Enter year1980

In [2]:
years_list

[1980, 1981, 1982, 1983, 1984, 1985]

* 
2 . In which year in years_list was your third birthday? Remember, you were 0 years of age for your
first year.
* 
03 .In the years list, which year were you the oldest?

In [3]:
#02.
print("Third Birthday",years_list[2])

Third Birthday 1982

In [4]:
#03 .
print("Oldest ",years_list[-1])

Oldest  1985

04 .Make a list called things with these three strings as elements: &quot;mozzarella&quot;, &quot;cinderella&quot;,
&quot;salmonella&quot;.

In [5]:
things=["mozzaerlla","cindrella","salmonella"]

05 .Capitalize the element in things that refers to a person and then print the list. Did it change the
element in the list?

In [8]:
#yes list will change that element
things=list(map(lambda x:x.replace("cindrella","CINDRELLA"),things))
things

['mozzaerlla', 'CINDRELLA', 'salmonella']

06 .Make a surprise list with the elements &quot;Groucho,&quot; &quot;Chico,&quot; and &quot;Harpo.&quot;

In [13]:
surprise=["Groucho","Chico","Harpo"]

07 .Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [14]:
ans=surprise[-1].lower()
res=reversed(ans)
surprise[-1]="".join(res).upper()

In [15]:
surprise

['Groucho', 'Chico', 'OPRAH']

08 .Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is
chien, cat is chat, and walrus is morse.

In [16]:
e2f={"dog":"chien","cat":"chat","walrus":"morse"}
for i,j in e2f.items():
  print(i +" is "+j)

dog is chien
cat is chat
walrus is morse

09 .Write the French word for walrus in your three-word dictionary e2f.

In [17]:
e2f["walrus"]

'morse'

10 .Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [19]:
f2e={}
for i,j in e2f.items():
  f2e[j]=i

f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

11 .Print the English version of the French word chien using f2e.

In [20]:
f2e["chien"]

'dog'

12 .Make and print a set of English words from the keys in e2f.

In [21]:
for i in e2f.keys():
  print(i)

dog
cat
walrus

13 .Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;,
and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and
&#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;.
Make all the other keys refer to empty dictionaries.

In [22]:
life={"animals":{"cats":["Henri","Grumpy","Lucky"],"octopi":{},"emus":{}},"plants":{},"others":{}}
life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucky'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'others': {}}

14 .Print the top-level keys of life.

In [23]:
print(life.keys())

dict_keys(['animals', 'plants', 'others'])

15 .Print the keys for life[&#39;animals&#39;].

In [25]:
life["animals"].keys()

dict_keys(['cats', 'octopi', 'emus'])

16 .Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

In [26]:
life["animals"]["cats"]

['Henri', 'Grumpy', 'Lucky']