<a href="https://colab.research.google.com/github/Ragavendhra-Ramanan/Python_Basics/blob/main/Python17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

01 . Assign the value 7 to the variable guess_me. Then, write the conditional tests (if, else, and elif) to
print the string &#39;too low&#39; if guess_me is less than 7, &#39;too high&#39; if greater than 7, and &#39;just right&#39; if equal
to 7.

In [2]:
guess_me=7

if guess_me<7:
  print("too low")
elif guess_me>7:
  print("too high")
else:
  print("just  right")

just  right

02 .Assign the value 7 to the variable guess_me and the value 1 to the variable start. Write a while
loop that compares start with guess_me. Print too low if start is less than guess me. If start equals
guess_me, print &#39;found it!&#39; and exit the loop. If start is greater than guess_me, print &#39;oops&#39; and exit
the loop. Increment start at the end of the loop.

In [3]:
guess_me=7
start=1

while True:
  if start <guess_me:
    print("too low")
  elif start >guess_me:
    print("oops")
    break
  else:
    print("found it!")
    break
  start+=1

too low
too low
too low
too low
too low
too low
found it!

03 .Print the following values of the list [3, 2, 1, 0] using a for loop.

In [4]:
for i in range(3,-1,-1):
  print(i)

3
2
1
0

04 .Use a list comprehension to make a list of the even numbers in range(10)

In [9]:
even=[i for i in range(10) if i%2==0]

In [10]:
even

[0, 2, 4, 6, 8]

05 .Use a dictionary comprehension to create the dictionary squares. Use range(10) to return the
keys, and use the square of each key as its value.

In [14]:
squares={i:i*i for i in range(10)}

In [15]:
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

06 .Construct the set odd from the odd numbers in the range using a set comprehension (10).

In [16]:
odd=set(i for i in range(10) if i%2!=0)

In [17]:
odd

{1, 3, 5, 7, 9}

07 .Use a generator comprehension to return the string &#39;Got &#39; and a number for the numbers in
range(10). Iterate through this by using a for loop.

In [23]:
ans=("Got " + str(i) for i in range(10))

In [25]:
for i in ans:
  print(i)

Got 1
Got 2
Got 3
Got 4
Got 5
Got 6
Got 7
Got 8
Got 9

08 .Define a function called good that returns the list [&#39;Harry&#39;, &#39;Ron&#39;, &#39;Hermione&#39;].

In [26]:
def good():
  return ["Harry","Ron","Hermione"]

In [27]:
good()

['Harry', 'Ron', 'Hermione']

09 .Define a generator function called get_odds that returns the odd numbers from range(10). Use a
for loop to find and print the third value returned.

In [28]:
def get_odds():
  for i in range(10):
    if i%2!=0:
      yield i

In [30]:
ans=get_odds()

count=0
for i in ans:
  count+=1
  if count ==3:
    print(i," is the third value")

5  is the third value

10 .Define an exception called OopsException. Raise this exception to see what happens. Then write
the code to catch this exception and print &#39;Caught an oops&#39;.

In [42]:
class OopsException(Exception):
  pass

def to_raise(val):
  if val ==0:
    raise OopsException(val)

try:
  to_raise(0)
except OopsException as err:
  print("Caught an oops")

Caught an oops

11 .Use zip() to make a dictionary called movies that pairs these lists: titles = [&#39;Creature of Habit&#39;,
&#39;Crewel Fate&#39;] and plots = [&#39;A nun turns into a monster&#39;, &#39;A haunted yarn shop&#39;].

In [39]:
titles=["Creature of habit","Crewel Fate"]
plots =["A nun turns into a monster","A haunted yarn shop"]

In [40]:
movies = {}
for title, plot in zip(titles, plots):
    movies[title] = plot

In [41]:
movies

{'Creature of habit': 'A nun turns into a monster',
 'Crewel Fate': 'A haunted yarn shop'}