#Assignment 1

01. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

- *
- 'hello'
- -87.8
- -
- /
- +
- 6

**SOLUTION**

- Here the expressions are 
  - *
  - -87.8
  - -
  - /
  - +
- Values are
  - 'hello'
  - 6

02. What is the difference between string and variable?

**SOLUTION**
- *VARIABLE*
   - It is a name given to the block of memory where the data is stored.
- *STRING*
   - It is one of the datatype in python.It is stored  in variable

03. Describe three different data types.

**SOLUTION**
- *INTEGER (NUMERIC)DATATYPE*
  - They are Whole Numbers
  - Example :1,55
- *BOOLEAN DATATYPE*
  - They are used  to represent logical values
  - Example :True,False
- *STRING DATATYPE*
   - They are array of bytes representing unicode characters.

In [4]:
a=1
print("{} is of type {}".format(a,type(a)))
b=True
print("{} is of type {}".format(b,type(b)))
c="ineuron"
print("{} is of type {}".format(c,type(c)))

1 is of type <class 'int'>
True is of type <class 'bool'>
ineuron is of type <class 'str'>

04. What is an expression made up of? What do all expressions do?

**SOLUTION**
- Expression are made of operators and operands.
- The Expression on the whole is interpreted to produce some other values

In [6]:
a=8
b=10
total=a+b
print(total)

18

- In the above situation the operator is '+' and operands are 8.10.
- They tend to produce another value 18.

05. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

**SOLUTION**

- **ASSIGNMENT** 
  - Assignment is the process of assigning a value to variables.
- **EXPRESSION**
  - It is a combination of operand and operators which yields new result.

In [7]:
#assignment
spam=10

#expression
spam=10+3

06. After running the following code, what does the variable bacon contain?
- bacon = 22
- bacon + 1

In [8]:
bacon=22
bacon+1
print(bacon)

22

- The variable bacon contains 22.
- The increment does not happen at the stored variable

07. What should the values of the following two terms be?
- &#39;spam&#39; + &#39;spamspam&#39;
- &#39;spam&#39; * 3

In [9]:
print('spam'+'spamspam')
print('spam'*3)

spamspamspam
spamspamspam

08. Why is eggs a valid variable name while 100 is invalid?

**SOLUTION**
- 100 is not a valid variable name since the variable name should not start with digit .
- egg is a valid variable name as it starts with alphabet

09. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [13]:
a=1
#get int
print("Integer version",int(a))

#get float
print("Float version",float(a))

#get string
print("String version",str(a))

Integer version 1
Float version 1.0
String version 1

10. Why does this expression cause an error? How can you fix it?
- &#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

**SOLUTION**
- The error is due to concatenation which can happen only if all are strings but here 99 is integer datatype.

In [11]:
print("I have eaten "+str(99)+" buttons")

I have eaten 99 buttons