<a href="https://colab.research.google.com/github/Ragavendhra-Ramanan/Python_Basics/blob/main/Python_Basics_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Assignment2

01.What are the two values of the Boolean data type? How do you write them?

In [1]:
True
False

False

02 . What are the three different types of Boolean operators?

* and
* or 
* not

03.Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean
values for the operator and what it evaluate ).

In [6]:
#and

print(0 and 0)
print(0 and 1)
print(1 and 0)
print(1 and 1)

0
0
0
1

In [7]:
#or

print(0 or 0)
print(0 or 1)
print(1 or 0)
print(1 or 1)

0
1
1
1

In [8]:
#not


print(not 0)
print(not 1)

True
False

04.What are the values of the following expressions?
* (5 &gt; 4) and (3 == 5)
* not (5 &gt; 4)
* (5 &gt; 4) or (3 == 5)
* not ((5 &gt; 4) or (3 == 5))
* (True and True) and (True == False)
* (not False) or (not True)

In [9]:
print((5>4)and(3==5))

False

In [10]:
print(not (5 > 4))

False

In [11]:

print((5 > 4) or (3 == 5))

True

In [12]:

print(not ((5 > 4) or (3 == 5)))

False

In [13]:

print((True and True) and (True == False))

False

In [14]:
print((not False) or (not True))

True

05.What are the six comparison operators?

* *>=*
* <=
* !=
* *>*
* <
* ==

06.How do you tell the difference between the equal to and assignment operators?Describe a
condition and when you would use one.

In [15]:
#assignment (Single equal to)
a=5

#equal to (Comparison)
10==5

False

07.Identify the three blocks in this code:
* spam = 0
* if spam == 10:
* print(&#39;eggs&#39;)
* if spam &gt; 5:
* print(&#39;bacon&#39;)
* else:
* print(&#39;ham&#39;)
* print(&#39;spam&#39;)
* print(&#39;spam&#39;)

In [16]:
spam=0
if spam==10:
  #block 1
  print("eggs")
if spam>5:
  #block 2
  print("bacon");
else:
  #block 3
  print("ham")
  print("spam")
  print("spam")

ham
spam
spam

08.Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints
Greetings! if anything else is stored in spam.

In [17]:
if spam==1:
  print("Hello")
if spam==2:
  print("Howdy")
else:
  print("Greetings")

Greetings

09.If your programme is stuck in an endless loop, what keys you’ll press?

* Ctrl+C

10.How can you tell the difference between break and continue?

* **break** keyword comes out of the loop or innermost switch
* **continue** keyword continues net iteration of loop.

11.In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

* There is no difference between those
* range(start,end,step)
* default start is 0 and step is 1.
* Here stop is same hence there is no difference between any of these.

12.Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent
program that prints the numbers 1 to 10 using a while loop.

In [22]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [24]:
i=1
while i<11:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

13.If you had a function named bacon() inside a module named spam, how would you call it after
importing spam?

* spam.bacon